*{
    margin: 0;
    padding: 0;
    }


.fondo{
    background-image: url(../img/fondoBody.png);
    background-position: top;
    background-repeat: repeat-y;
    background-size: 100%;
    background-color:#402676 ;
}