$btn-padding-y: 1em;
$btn-padding-x: 1em;
$btn-border-radius:20px;
$colorBoton:yellowgreen;
$primary: $colorBoton;
$parrafo-index:white; 
$titulos-container:greenyellow;
$bordes-fotos: solid 1px yellowgreen;

