.cuartoContainerIndex{
    border-radius: 20px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(41, 39, 39);
    display: grid;
    grid-template-columns: repeat(16,1fr);
    

    .cuartoContainerIndex__titulo{
        font-family: 'Finger Paint', cursive;
        color: $titulos-container;
        margin-left: 50px;
    }

    .cuartoContainerIndex__imagen{
        grid-column: 9/16;
        grid-row: 1/1;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cuartoContainerIndex__formulario{
        grid-column: 2/8;
        grid-row: 1/1;
        margin-top: 70px;
        color: yellowgreen;
        text-align: center;
    }
}