.tituloVideoTerceroContainerIndexAncho{
    margin-bottom: 40px;
    grid-column: 4/15;
    grid-row: 1/1;
    text-align: center;
    font-family: 'Finger Paint', cursive;
    color: $titulos-container;
}

.terceroContainerIndexAncho{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(1,700px);
    border-radius: 20px;
    margin-left: 25px;
    margin-right: 25px;

    .terceroContainerIndexAncho__video{
        width: 100%;
        height: 600px;
        object-fit: cover;
        grid-column:4/16;
        grid-row: 1/1;
        margin-top: 50px;
    }
    .formulario{
        color: greenyellow;
        margin-top: 100px;
        margin-right: 60px;
        margin-left: 50px;
        text-align: center;
        grid-column: 1/4;
        grid-row: 1/1;
    }
    .tituloVideoTerceroContainerIndexContactoAncho{
        grid-column: 1/4;
        grid-row: 1/1;
        text-align: center;
        font-family: 'Finger Paint', cursive;
        color: $titulos-container;
    }
}

